@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  src: url(/fonts/inter.var.woff2) format('woff2');
}

.firebase-emulator-warning {
  display: none;
}
